GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REDIRECT_URI=http://localhost
GMAIL_REFRESH_TOKEN=
GMAIL_ACCOUNT=shoheltqtec@gmail.com
THAURA_EMAIL=shoheltqtec@gmail.com
THAURA_LOGIN_URL=https://thaura.ai/
THAURA_API_KEY=
